.Editor {
    display: flex;
    gap: 10px;
}

.Editor input {
    flex: 1;
    padding: 15px;
    border: 1px solid tomato;
    border-radius: 10px;
}

.Editor button {
    cursor: pointer;
    width: 80px;
    border: none;
    background: tomato;
    color: white;
    border-radius: 10px;
}
