* {
    margin: 0;
    padding: 0;
}

body {
    background: #12a0f3;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container #btn-collapse {
    padding: 10px 40px;
    background: white;
    border: none;
    position: absolute;
    top: 10px;
    right: 10%;
}

.container h2 {
    font-size: 2em;
    margin: 5px 0 30px;
    color: white;
}

.container #faq .panel-question {
    width: 100%;
    background: white;
    margin-bottom: 20px;
}

.container #faq .panel-question .panel-heading {
    font-weight: bold;
    padding: 30px 20px;
    cursor: pointer;
    background: #ddd;
}

.container #faq .panel-question .panel-body {
    height: 0;
    padding: 0px 20px;
    overflow: hidden;
    transition: all 0.4s;
}

.container #faq .panel-question.on .panel-body {
    height: 85px;
    padding: 30px 20px;
}