* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* ======================= */

.m_menu {
    width: 200px;
    margin: 20px auto;
    text-align: center;
}

.m_menu>li>a {
    display: block;
    height: 36px;
    background: tomato;
    line-height: 36px;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px dotted cornsilk;
    color: white;
}

.m_menu .sub {
    height: 0;
    overflow: hidden;
    transition: all 0.4s;
}

.m_menu .sub li {
    background: cornsilk;
}

.m_menu .sub li a {
    display: block;
    height: 36px;
    line-height: 36px;
    color: tomato;
}

.m_menu .sub li a:hover {
    background: wheat;
}