* {margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none; color: #333;}
.cf:after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 1000px;
    height: 250px;
    border: 1px solid white;
    margin: 0 auto;
}

header .sns {
    float: left;
    margin: 20px 0 0 10px;
}

header .lnb {
    float: right;
    margin: 10px 10px 0 0;
}

header .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header .logo img {
    width: 100%;
}

.main_menu {
    position: absolute;
    top: 220px;
    left: 0;
    width: 100%;
}

.gnb {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    z-index: 1;
}

header .gnb li {
    float: left;
}

header .sns li {
    float: left;
    margin-left: 10px;
}

header .lnb li {
    float: left;
    font-size: 13px;
    padding: 10px;
    background: url(../images/bar.png) no-repeat 0 50%;
}

header .lnb li:nth-child(1) {
    background: none;
}

.gnb>li {
    position: relative;
    float: left;
    background: white;
    width: 20%;
}

.gnb li>ul {
    background: white;
}

.gnb li a {
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
}

.gnb li>ul {
    display: none;
    transition: all 0.5s;
    background: white;

}

.gnb:hover li ul {
    display: block;
}

.gnb:hover+.shadow {
    display: block;
}

.headerOut {
    width: 100%;
    position: relative;
}

.gnb:hover {
    display: block;
}

.main_menu .shadow {
    position: absolute;
    width: 100%;
    height: 120px;
    top: 30px;
    background: white;
    display: none;
}